@model CmAppRequest.ViewModels.AppRequestViewModel

@{
    ViewBag.Title = "Approve: " + @Model.Application + "(" + Model.UserName + ")";
}

<h2>Approve Application Request</h2>

<br />

<table class="table">
    <tr>
        <th>Application</th>
        <td>@Model.Application</td>
    </tr>
    <tr>
        <th>Requested By</th>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <th>User Comments</th>
        <td>@Model.Comments</td>
    </tr>
    <tr>
        <th>Approving Admin</th>
        <td>@Model.ModifyingUser</td>
    </tr>
</table>

<br />

<form method="post" action="/CmApp/Approve/">
    <div>
        <p><label for="newComments">Approval Comments</label></p>
        <textarea name="newComments" cols="40" rows="5"></textarea>
    </div>

    <br />

    <div>
        <input type="text" name="requestGuid" value="@Model.RequestGuid" hidden />
        <input type="text" name="modUser" value="@Model.UserName" hidden />
        <input type="submit" value="Approve" />
    </div>
</form>