@model CmAppRequest.ViewModels.AppQueryViewModel
@{
    ViewBag.Title = Model.PageTitle + ": " + Model.Requests.Count;
}

<h2>@Model.PageTitle: @Model.Requests.Count</h2>

<br />

<table class="table" id="request_table">
    <thead>
        <tr>
            <th>Application</th>
            <th>Requested By</th>
            @if (Model.RequestState == "Denied")
            {
                <th>Denied By</th>
            }
            else if (Model.RequestState == "Approved")
            {
                <th>Approved By</th>
            }
            <th>Last Modified Time</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var m in Model.Requests)
        {
            <tr>
                <td><a href="/CmApp/ViewRequest/?requestGuid=@m.RequestGuid">@m.Application</a></td>
                <td>@m.UserName</td>
                @if (Model.RequestState == "Denied" || Model.RequestState == "Approved")
                {
                    <td>@m.LastModifiedBy</td>
                }
                <td>@m.LastModifiedTime</td>
            </tr>
        }
    </tbody>
</table>
