@model CmAppRequest.ViewModels.AppQueryViewModel
@{
    ViewBag.Title = Model.PageTitle;
}

<h2>@Model.PageTitle</h2>

<br />

<!--
<script language="javascript">
    $(document).ready(function () {
        $('request_table').DataTable();
    });
</script>
-->

@if (Model.Requests.Count > 0)
{
    <table class="table" id="request_table">
        <thead>
            <tr>
                <th>Application</th>
                <th>Requested By</th>
                <th>Current State</th>
                <th>Last Modified Time</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var m in Model.Requests)
            {
                <tr>
                    <td><a href="/CmApp/ViewRequest/?requestGuid=@m.RequestGuid">@m.Application</a></td>
                    <td>@m.UserName</td>
                    <td>@m.CurrentState</td>
                    <td>@m.LastModifiedTime</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No pending requests found.</p>
}
