@model CmAppRequest.ViewModels.AppRequestViewModel

@{
    ViewBag.Title = "View Request: " + @Model.RequestGuid;
}

<h2>View Request: @Model.RequestGuid</h2>

<br />

@if (!String.IsNullOrEmpty(Model.ActionResult))
{
    <p>@Model.ActionResult</p>

    <br />
}

<table class="table">
    <tr>
        <th>Application</th>
        <td>@Model.Application</td>
    </tr>

    <tr>
        <th>Requested By</th>
        <td>@Model.UserName</td>
    </tr>

    <tr>
        <th>Last Modified Time</th>
        <td>@Model.LastModifiedTime</td>
    </tr>

    <tr>
        <th>Last Modified By</th>
        <td>@Model.LastModifiedBy</td>
    </tr>

    <tr>
        <th>Current State</th>
        <td>@Model.CurrentState</td>
    </tr>

    <tr>
        <th>Comments</th>
        <td>@Model.Comments</td>
    </tr>
</table>

@if (Model.CurrentState == "Requested")
{
    <p><a href="/CmApp/Approve/?requestGuid=@Model.RequestGuid">Approve</a> | <a href="/CmApp/Deny/?requestGuid=@Model.RequestGuid">Deny</a></p>
}

@if (Model.CurrentState == "Approved")
{
    <p><a href="/CmApp/Deny/?requestGuid=@Model.RequestGuid">Revoke Approval</a></p>
}